<server_config>
  <!-- first database element is always the main db -->
  <!-- name attribute defaults to basename(path) -->
  <database name=main type=lmdb path=sched.db mmap=42M />
  <_database name=postcarddb type=lmdb path=post.db />
  <_database name=test_level type=level path=test_level.db sync=2 />
  <database name=test_kch type=kyotohash path=test_kyotohash.db />
  <database name=test_kcb type=kyoto path=test_kyoto.db />
  <stdio />
  <fastcgi threads=4 path='fcgi.sock' />
  <listen path='plugin.sock' port=3456 />
  <id
    name='saran'
    -keyfile='master.key'
  />

  <subs>

    <postcard id=2
      key='xxx'
      success=fail
      errors=queue
      expire=queue
      files=queue
      trickle=ignore
      >
      <files size=1k db=main />
      <files size=16k db=postcarddb />
      <files size=120M path='uploads/postcard' group=no />
      <inputs />
    </postcard>
    <!-- Databases:
      - reports can be saved into files
      - files can go into custom database
      - the custom database can be shared by multiple subs
      Define database(s) either at top level or inside subproject.
      Database referenced by name.

      Problem: The aux dbs should not be kept open while idle to avoid
      blocking the plugin process.
      lmdb - exclusive write transaction shared with readers
      kyoto - exclusive writer exclusive to readers
      upscaledb - unclear
      leveldb - exclusive

    -->

  </subs>
  <peers>
    <parlon id=1 host=parlon port=3456 />
    <zirkon id=2 ip=192.168.0.12 port=3456 />
  </peers>

  
  <plugin name=sample_fwd >
    <!-- whatever -->
    
    <output name='sample'
      success=fail
      errors=queue
      expire=queue
      files=queue
      trickle=disable
      >
      <files size=1k db=main />
      <files size=16k db=test_kch />
      <files size=120M path='uploads/postcard' group=no />
      <files size=2G path='uploads/big' group=no />
      <inputs />
    </output>
  </plugin>

  <foreign name='foreign'>
    <files size=1k db=main />
    <files size=120M path='uploads/foreign' group=no />
    <inputs />
  </foreign>

  <feed name='xx' priority=4 >
    <!-- the first thing scheduler consults when giving out work -->
    <!-- describes to whom, and from where to assign work -->
    <filter><!--
      program_compat='which',
      arch,
      cpu features, cache, memory speed,
      memory size,
      disk free,
      network something,
      GPU api, gpu features, gpu memory size,
      other coproc,
      database value,
      host config (always)
      is_queue_empty
    --></filter>
    <!-- assign:
      call: arguments,
      queue: (0), locality?,
      range: range options override,
    -->
    <!-- write - set database value to host or user on assign
      asociated with the plugin of the workunit assigned (key:src_name+name) -->
    <set db=main to=host key='xxx' id=123 id=auto add-ulong/set-bool/under/over />
  </feed>

  <program name=spt >
    <!-- description of boinc application version -->
    <!-- most important are the compatibility filters -->
    <!-- inherit another program -->
  </program>

  <queue name=sptq46 >
    <!-- place where plugins can put workunits for feeds to assign -->
  </queue>

  <range name=sptr >
    <!-- description of how scheduler should generate workunits -->
  </range>

  <codesign>
5377
33d463c9c62db6e711cf017a00fa7100a39201e2f33898a64979f014f16f3f1b
5bd0dd0a47db8da1b907db1b6c37638474b106f6a224f3565770067e4eb23880
10562ced333a7efa31051d651634bc52f7904b114992f7bdb0051a1a9c0760a0
4e64ade5406e6a339e72f4f9469cec1741f075ab1ffd8dd91f130f1b7ca3f40f
66e8b4057ebc7fcfe07507916273f8ba83f1273820d3a2a7aea2df75a8458227
5b6a499d5e88408519c6e3d35549768b6235d9e41d75cb5bee3cf1dacd2cef40
7184df4be83f06a0561f348cf32d8da8c679d69099c4b4de0b63e49e2a3c8df6
16e62a599e29e07bbf945a49ec436bfb916afc2fbc0cf46b679b0caa3d29248f
  </codesign>
  <signature id='4d1c674ee40f2868' >
8431e0dfb0c7000d763703c985a867af4c6d2f89c45cf5a668457c3df7720c20
17ace14f9945ee333321a75288d017fb13458bbcc48a2b47de055f224bdaa096
3afb5c0f716f7ea163e6a41923ed03bef3a19f1aaec6b75a7afcbc29f8732dc3
414029fe0ea8816925abde35f4fe3071e22525ce050cf63f4b68593210d423df
  </signature>
  <server_keys>
    <master>aff7697d992b958b1b584814f3218276fd3d21439982edf495f289c0650eafdd</master>
    <old expire=1234 >4c841cfe94c0197d23de1827149727faec68cb532c08fbcedd41888c1e3d25ff</old>
  </server_keys>
</server_config>

